html
  head
    style 
      include ./style.css
    title="Trollslottet akkurat nå"
  body
  table#fullscreen
    tr
      th Måling 
      th Verdi
      th Sist oppdatert 
    each name, topic in names
      tr
        td=name
        td=values[topic] + " " + units[topic]
        td=updated[topic]

  //- img(src="https://www.yr.no/nb/innhold/1-1802/meteogram.svg")

  //- these dont work because they are html, not images...
  //- img(src="https://www.yr.no/nb/innhold/1-1802/card.html")
  //- img(src="https://www.yr.no/nb/innhold/1-1802/table.html")