body {
  background-color: #1b2425;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 500px;
  }
  
  td, th {
    border: 0px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #adafc4;}
  tr:nth-child(odd){background-color: #989aac;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e4eb8;
    color: white;
  }

  