#fullscreen {
        height: 100vh;
        width: 100vw;
    border: 1px solid black;
    background-image:url(http://placehold.it/224x400);
    background-repeat: no-repeat;
    background-position: center top;
    }

body {
  background-color: #1b2425;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-collapse: collapse;
    width: 500px;
  }
  
  td, th {
    border: 0px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #adafc4;}
  tr:nth-child(odd){background-color: #989aac;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e4eb8;
    color: white;
  }

  